{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>T1 Integration Workshop</title>
    <meta name="keywords" content="">
    <meta name="description" content=" Tarea 1 taller de Integración">
    <meta name="author" content="Diego Contreras">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'bbad/bootstrap.min.css' %}">
    <!-- style css -->
    <link rel="stylesheet" href="{% static 'bbad/style.css' %}">
    <!-- fevicon -->

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{% static 'bbad/jquery.mCustomScrollbar.min.css' %}">
    <!-- Tweaks for older IEs-->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen"> -->

</head>
<!-- body -->

<body class="main-layout ">
    
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">

            <div class="container">
                <div class="row">
                    <div class="col-md-12 location_icon_bottum">
                       <div class="row">
                            <div class="col-md-5 ">
                                <div class="menu-area">
                                    <div class="limit-box">
                                        <nav class="main-menu">
                                            <ul class="menu-area-main">
                                                <li class="active"> <a href="/">Home</a> </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                                <form  action="{% url 'search' %}" method="GET" >
                                    <input name="name" type="text" placeholder=" Busca a un personaje ">
                                    <button type="submit"> Buscar </button>
                                </form>
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
    </header>

    <div class="offer">
    </div>

    <div class="container">
        {% block content%}

        {% endblock %}
    </div>


    <div class="copyright">
        <div class="container">
            <p> Taller de Integración 2021-1 Tarea 1</p>
        </div>
    </div>
    
</body>


</html>