{% extends 'bbad/base.html' %}

{% block content %}
  <h2> Información de {{charr.name}}</h2>
  <div class="container">
    <div class="row">
      <ul>
        <br>
          <img src="{{charr.img}}" width="200">
          <br>
          <br>
          <li> Apodo: {{charr.nickname}}</li>
          <li> Ocupación: {{charr.occupation}} </li>
          <li> Estado: {{charr.status}}</li>
          <li> Serie en que participa: {{charr.category}}</li>
          <li> Actor: {{charr.portrayed}}</li>
          <br>
          <li> Temporadas que aparece en Breaking Bad: </li>
            <ul>
              {% for i in charr.appearance %}
                <li class="active"> <a href="breaking_bad/{{i}}"> Temporada {{i}} </a> </li>
              {% endfor %}
            </ul>
          <br>
          <li> Temporadas que aparece en Better Call Saul: </li>
            <ul>
              {% for i in charr.better_call_saul_appearance %}
                <li class="active"> <a href="better_call_saul/{{i}}"> Temporada {{i}} </a> </li>
              {% endfor %}
            </ul>
          <br>
          <br>
          <li> Citas del personaje: </li>
          <br>
            <ul>
              {% for i in charr.quotes %}
                <li>{{i}}</li>
              {% endfor %}
            </ul>
          <br>
      </ul>
    </div>
  </div>

{% endblock %}