{% extends 'bbad/base.html' %}

{% block content %}
  <h2> Información de {{charr.name}}</h2>
  <div class="container">
    <div class="row">
      <ul>
        <br>
          <img src="{{charr.img}}" width="200">
          <br>
          <br>
          <li> <b>Apodo:</b> {{charr.nickname}}</li>
          <li> <b>Ocupación:</b> {{charr.occupation}} </li>
          <li> <b>Estado:</b> {{charr.status}}</li>
          <li> <b>Serie en que participa:</b> {{charr.category}}</li>
          <li> <b>Actor:</b> {{charr.portrayed}}</li>
          <br>
          <li> <b>Temporadas que aparece en Breaking Bad:</b> </li>
            <ul>
              {% for i in charr.appearance %}
                <li class="active"> <a href="/breaking_bad/{{i}}"> Temporada {{i}} </a> </li>
              {% endfor %}
            </ul>
          <br>
          <li> <b>Temporadas que aparece en Better Call Saul:</b> </li>
            <ul>
              {% for i in charr.better_call_saul_appearance %}
                <li class="active"> <a href="/better_call_saul/{{i}}"> Temporada {{i}} </a> </li>
              {% endfor %}
            </ul>
          <br>
          <br>
          <li> <b>Citas del personaje: </b></li>
          <br>
            <ul>
              {% for i in charr.quotes %}
                <li>{{i}}</li>
              {% endfor %}
            </ul>
          <br>
      </ul>
    </div>
  </div>

{% endblock %}