{% extends 'bbad/base.html' %}


{% block content %}
  
  <div class="container">
    <h2> Breaking Bad season's</h2>

    {% if series.error %}
      <h3>Ha ocurrido un error {{series.error}}</h3>
    {% else %}
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
        <ul>
          {% for i in series.bb %}
                <li class="active"> <a href="{% url 'breaking_bad' i %}"> Temporada {{i}} </a> </li>
          {% endfor %}
        </ul>
      </div>
    <br>
    <br>
    <h2> Better Call Saul season's</h2>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
        <ul>
          {% for i in series.bcs %}
                <li class="active"> <a href="better_call_saul/{{i}}"> Temporada {{i}} </a> </li>
          {% endfor %}
        </ul>
    </div>

    {% endif %}
  </div>
  <br>

{% endblock %}
